*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(to top left, rgb(255, 172, 139), rgb(241, 81, 40));
}

.container{
    margin: auto;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.formulario{
    width: 400px;
    height: 700px;
    border-radius: 10px;
    background: rgb(255, 255, 255);
    box-shadow: black 0px 2px 7px 0px;
}

.logo{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}

.logo h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #333;
}

.form{
    text-align: center;
    width: 100%;
    margin-top: 50px;
}

input{
    width: 80%;
    height: 40px;
    outline: none;
    border-radius: 5px 0 0 0 ;
    padding: 0px 40px;
    border: 2px solid #3333;
}

::-webkit-input-placeholder{
    padding: 0px 2px;
    font-family: 'Poppins', sans-serif;
}

.inpt-block{
    margin: 20px 0px;
}

.btn-block{
    margin: 20px;
    width: 80%;
    height: 30px;
    cursor: pointer;
}

button{
    border-radius: 5px 0 0 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 18px;
    border: 2px solid #3333;
    background: rgb(206, 206, 206);
    color: rgb(0, 0, 0);
}

button:hover{
    color: rgb(0, 0, 0);
    transition: .7s;
    background: rgb(241, 81, 40);
    color: #fff;
    outline: none;
}

.lock{
    position: absolute;
    margin-top: -12px;
    margin-left: 5px;
    width: 20px;
}

.profile{
    position: absolute;
    margin-top: 5px;
    margin-left: 4px;
    width: 24px;
}

.forgot-password{
    margin: auto;
    width: 80%;
    display: flex;
    justify-content: end;
    color: #3339;
}

.forgot-password p{
    font-family: 'Poppins', sans-serif;
    font-size: 0.8rem;
    cursor: pointer;
}

.sign-up-text{
    margin-top: 40px;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    color: #3339;
}

.social-medias{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 10px;
}

.social-medias img{
    cursor: pointer;
}

.sign-up-footer{
    margin-top: 100px;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    color: #3339;
}

.sign-up{
    display: flex;
    justify-content: center;
    width: 80%;
    margin: auto;
    margin-top: 15px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #3339;
}

.sign-up p{
    cursor: pointer;
}

.sign-up p::after{
    content: '';
    width: 100%;
    height: 3px;
    background: rgb(173, 173, 173);
    transition: 0.5s;
}

.sign-up p:hover{
    width: 100%;
}